<h1><%= @user.full_name %> (@<%= @user.username %>)</h1>
<p>Email: <%= @user.email %></p>
<p>Bio: <%= @user.bio %></p>
<p>Roles: <%= @user.roles.pluck(:name).join(', ') %></p>

<h2>Posts</h2>
<ul>
  <% @user.posts.each do |post| %>
    <li><%= link_to post.title, post_path(post) %> (<%= post.status %>)</li>
  <% end %>
</ul>

<h2>Followers</h2>
<ul>
  <% @user.followers.each do |follow| %>
    <li><%= link_to follow.follower.username, user_path(follow.follower) %></li>
  <% end %>
</ul>

<h2>Following</h2>
<ul>
  <% @user.follows.each do |follow| %>
    <li><%= link_to follow.followed.username, user_path(follow.followed) %></li>
  <% end %>
</ul> 