<h1><%= t('demo.headers.reset_password') %></h1>

<%= form_with model: @user, url: edit_password_reset_path(params[:token]), method: :patch, local: true do |f| %>
  <div>
    <%= f.label :password, t('demo.labels.new_password') %>
    <%= f.password_field :password, required: true %>
  </div>

  <div>
    <%= f.label :password_confirmation, t('demo.labels.confirm_new_password') %>
    <%= f.password_field :password_confirmation, required: true %>
  </div>

  <%= f.submit t('demo.buttons.update_password') %>
<% end %> 